<a href="https://colab.research.google.com/github/Userfound404/Python-Lab-Exercises/blob/main/py_lab_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 2

In [4]:
#gcd
def gcd(a, b):
    if b == 0:
        return a
    return gcd(b, a % b)

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("The GCD of", num1, "and", num2, "is", gcd(num1, num2))

Enter first number: 12
Enter second number: 44
The GCD of 12 and 44 is 4

In [ ]:
# command line addition
import sys

num1 = int(sys.argv[1])
num2 = int(sys.argv[2])
print("The sum of", num1, "and", num2, "is", num1 + num2)

# Exercise 3

In [6]:
#check if number is even
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num, "is an even number.")
else:
    print(num, "is an odd number.")

Enter a number: 33
33 is an odd number.

In [8]:
#fib sequence
def fib(n):
  a, b = 0, 1
  while b<n:
    print(b, end=' ')
    a, b = b , a + b
 
n = int(input("Enter the limit: "))
fib(n)

Enter the limit: 23
1 1 2 3 5 8 13 21

In [12]:
#prime numbers
def is_prime(n):
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
    return True

start = int(input("Enter the start of interval: "))
end = int(input("Enter the end of interval: "))

for i in range(start, end+1):
  if(is_prime(i)):
    print(i, end=' ')

Enter the start of interval: 1
Enter the end of interval: 50
5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

# Exercise 4

In [15]:
# mean, median and mode for a list of numbers
import statistics

numbers_stats = [ int(x) for x in input(" Enter the numbers :").split()]
mean = sum(numbers_stats)/ len(numbers_stats)
median = statistics.median(numbers_stats)

try:
  mode = statistics.mode(numbers_stats)
except statistics.StatisticsError:
  mode = "unique mode not found"

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

 Enter the numbers :2 3 4 2 3 4 5 3 4 5 5 2 3 5 6 7
Mean: 3.9375
Median: 4.0
Mode: 3

In [16]:
#Converting a list and a tuple into arrays
import array

a_list = [int(x) for x in input("Enter the list elements separated by space: ").split()]
a_tuple = tuple(a_list)

arr_list = array.array("i", a_list)
arr_tuple = array.array("i", a_tuple)

print("Array from list:", arr_list)
print("Array from tuple:", arr_tuple)

Enter the list elements separated by space: 1 2 3 4 2 1 5 9 2
Array from list: array('i', [1, 2, 3, 4, 2, 1, 5, 9, 2])
Array from tuple: array('i', [1, 2, 3, 4, 2, 1, 5, 9, 2])

In [18]:
#find common elements
import array

arr1 = array.array("i", [int(x) for x in input("Enter the elements of first array separated by space: ").split()])
arr2 = array.array("i", [int(x) for x in input("Enter the elements of second array separated by space: ").split()])

print("Common elements:", set(arr1) & set(arr2))
print("UnCommon elements:", set(arr1) | set(arr2))

Enter the elements of first array separated by space: 3 2 4 1 4 1 5 25 9
Enter the elements of second array separated by space: 2  4 1  8 6 8 88 2 4 1
Common elements: {1, 2, 4}
UnCommon elements: {1, 2, 3, 4, 5, 6, 8, 9, 88, 25}

# Exercise 5

In [26]:
#Counting the number of characters in a string and storing them in a dictionary
string_dict = input("Enter a string: ")
char_count = {}

for char in string_dict:
    char_count[char] = char_count.get(char, 0) + 1

print("Character count:", char_count)

Enter a string: This is a test string
Character count: {'T': 1, 'h': 1, 'i': 3, 's': 4, ' ': 4, 'a': 1, 't': 3, 'e': 1, 'r': 1, 'n': 1, 'g': 1}

In [27]:
#Combining two lists into a dictionary
keys = input("Enter keys separated by comma: ").split(',')
values = input("Enter values separated by comma: ").split(',')

dictionary = {}
for i in range(len(keys)):
    dictionary[keys[i]] = values[i]

print("Dictionary:", dictionary)

Enter keys separated by comma: 3,5,7,9,11,13,15
Enter values separated by comma: 2,4,6,8,10,12,14
Dictionary: {'3': '2', '5': '4', '7': '6', '9': '8', '11': '10', '13': '12', '15': '14'}

# Exercise 6

In [20]:
# string start check
string = input("Enter a string: ")
start = input("Enter starting characters: ")

if string.startswith(start):
  print(f"{string} start with {start}")
else:
  print(f"{string} does not start with {start}")

Enter a string: adithya
Enter starting characters: adi
adithya start with adi

In [21]:
# check for palindrome
string_pal = input('Enter the string: ')
if string_pal == string_pal[::-1]:
  print(f'{string_pal} is a palindrome')
else:
  print(f'{string_pal} is not a palindrome')

Enter the string: malayalam
malayalam is a palindrome

# Exercise 7

In [23]:
#splitting and joining string
string_new = "Hello my name is adithya"
split_string = string_new.split()
join_string = " ".join(split_string)

print("Split string:", split_string)
print("Join string:", join_string)

Split string: ['Hello', 'my', 'name', 'is', 'adithya']
Join string: Hello my name is adithya

In [25]:
#sort words in alphabetical order
string_sort = input("Enter a string: ")
words = string_sort.split()
words.sort()

print("Sorted words:", words)

Enter a string: This is python lab
Sorted words: ['This', 'is', 'lab', 'python']

# Exercise 8

In [28]:
# Printing each line of a file in reverse order
filename = input("Enter filename: ")
with open(filename, 'r') as file:
    lines = file.readlines()

for line in lines[::-1]:
    print(line[::-1])

Enter filename: test_text
enil driht eht si sihT

enil dnoces eht si sihT

tset txet elpmas a si sihT

In [29]:
# number of characters, words, and lines in a file
filename = input("Enter filename: ")
char_count = 0
word_count = 0
line_count = 0

with open(filename, 'r') as file:
    for line in file:
        line_count += 1
        char_count += len(line)
        word_count += len(line.split())

print("Number of characters:", char_count)
print("Number of words:", word_count)
print("Number of lines:", line_count)

Enter filename: test_text
Number of characters: 73
Number of words: 16
Number of lines: 3

In [30]:
#Counting frequency of characters in a given file
filename = input("Enter filename: ")
char_frequency = {}

with open(filename, 'r') as file:
    for line in file:
        for char in line:
            char_frequency[char] = char_frequency.get(char, 0) + 1

print("Character frequency:", char_frequency)

Enter filename: test_text
Character frequency: {'T': 3, 'h': 6, 'i': 9, 's': 9, ' ': 13, 'a': 2, 'm': 1, 'p': 1, 'l': 3, 'e': 8, 't': 7, 'x': 1, '\n': 2, 'c': 1, 'o': 1, 'n': 3, 'd': 2, 'r': 1}