<a href="https://colab.research.google.com/github/Userfound404/Python-Lab-Exercises/blob/main/py_lab_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 2

In [ ]:
#gcd
def gcd(a, b):
    if b == 0:
        return a
    return gcd(b, a % b)

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("The GCD of", num1, "and", num2, "is", gcd(num1, num2))

Enter first number: 12
Enter second number: 44
The GCD of 12 and 44 is 4

In [ ]:
# command line addition
import sys

num1 = int(sys.argv[1])
num2 = int(sys.argv[2])
print("The sum of", num1, "and", num2, "is", num1 + num2)

# Exercise 3

In [ ]:
#check if number is even
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num, "is an even number.")
else:
    print(num, "is an odd number.")

Enter a number: 33
33 is an odd number.

In [ ]:
#fib sequence
def fib(n):
  a, b = 0, 1
  while b<n:
    print(b, end=' ')
    a, b = b , a + b
 
n = int(input("Enter the limit: "))
fib(n)

Enter the limit: 23
1 1 2 3 5 8 13 21

In [ ]:
#prime numbers
def is_prime(n):
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
    return True

start = int(input("Enter the start of interval: "))
end = int(input("Enter the end of interval: "))

for i in range(start, end+1):
  if(is_prime(i)):
    print(i, end=' ')

Enter the start of interval: 1
Enter the end of interval: 50
5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

# Exercise 4

In [ ]:
# mean, median and mode for a list of numbers
import statistics

numbers_stats = [ int(x) for x in input(" Enter the numbers :").split()]
mean = sum(numbers_stats)/ len(numbers_stats)
median = statistics.median(numbers_stats)

try:
  mode = statistics.mode(numbers_stats)
except statistics.StatisticsError:
  mode = "unique mode not found"

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

 Enter the numbers :2 3 4 2 3 4 5 3 4 5 5 2 3 5 6 7
Mean: 3.9375
Median: 4.0
Mode: 3

In [ ]:
#Converting a list and a tuple into arrays
import array

a_list = [int(x) for x in input("Enter the list elements separated by space: ").split()]
a_tuple = tuple(a_list)

arr_list = array.array("i", a_list)
arr_tuple = array.array("i", a_tuple)

print("Array from list:", arr_list)
print("Array from tuple:", arr_tuple)

Enter the list elements separated by space: 1 2 3 4 2 1 5 9 2
Array from list: array('i', [1, 2, 3, 4, 2, 1, 5, 9, 2])
Array from tuple: array('i', [1, 2, 3, 4, 2, 1, 5, 9, 2])

In [ ]:
#find common elements
import array

arr1 = array.array("i", [int(x) for x in input("Enter the elements of first array separated by space: ").split()])
arr2 = array.array("i", [int(x) for x in input("Enter the elements of second array separated by space: ").split()])

print("Common elements:", set(arr1) & set(arr2))
print("UnCommon elements:", set(arr1) | set(arr2))

Enter the elements of first array separated by space: 3 2 4 1 4 1 5 25 9
Enter the elements of second array separated by space: 2  4 1  8 6 8 88 2 4 1
Common elements: {1, 2, 4}
UnCommon elements: {1, 2, 3, 4, 5, 6, 8, 9, 88, 25}

# Exercise 5

In [ ]:
#Counting the number of characters in a string and storing them in a dictionary
string_dict = input("Enter a string: ")
char_count = {}

for char in string_dict:
    char_count[char] = char_count.get(char, 0) + 1

print("Character count:", char_count)

Enter a string: This is a test string
Character count: {'T': 1, 'h': 1, 'i': 3, 's': 4, ' ': 4, 'a': 1, 't': 3, 'e': 1, 'r': 1, 'n': 1, 'g': 1}

In [ ]:
#Combining two lists into a dictionary
keys = input("Enter keys separated by comma: ").split(',')
values = input("Enter values separated by comma: ").split(',')

dictionary = {}
for i in range(len(keys)):
    dictionary[keys[i]] = values[i]

print("Dictionary:", dictionary)

Enter keys separated by comma: 3,5,7,9,11,13,15
Enter values separated by comma: 2,4,6,8,10,12,14
Dictionary: {'3': '2', '5': '4', '7': '6', '9': '8', '11': '10', '13': '12', '15': '14'}

# Exercise 6

In [ ]:
# string start check
string = input("Enter a string: ")
start = input("Enter starting characters: ")

if string.startswith(start):
  print(f"{string} start with {start}")
else:
  print(f"{string} does not start with {start}")

Enter a string: adithya
Enter starting characters: adi
adithya start with adi

In [ ]:
# check for palindrome
string_pal = input('Enter the string: ')
if string_pal == string_pal[::-1]:
  print(f'{string_pal} is a palindrome')
else:
  print(f'{string_pal} is not a palindrome')

Enter the string: malayalam
malayalam is a palindrome

# Exercise 7

In [ ]:
#splitting and joining string
string_new = "Hello my name is adithya"
split_string = string_new.split()
join_string = " ".join(split_string)

print("Split string:", split_string)
print("Join string:", join_string)

Split string: ['Hello', 'my', 'name', 'is', 'adithya']
Join string: Hello my name is adithya

In [ ]:
#sort words in alphabetical order
string_sort = input("Enter a string: ")
words = string_sort.split()
words.sort()

print("Sorted words:", words)

Enter a string: This is python lab
Sorted words: ['This', 'is', 'lab', 'python']

# Exercise 8

In [ ]:
# Printing each line of a file in reverse order
filename = input("Enter filename: ")
with open(filename, 'r') as file:
    lines = file.readlines()

for line in lines[::-1]:
    print(line[::-1])

Enter filename: test_text
enil driht eht si sihT

enil dnoces eht si sihT

tset txet elpmas a si sihT

In [ ]:
# number of characters, words, and lines in a file
filename = input("Enter filename: ")
char_count = 0
word_count = 0
line_count = 0

with open(filename, 'r') as file:
    for line in file:
        line_count += 1
        char_count += len(line)
        word_count += len(line.split())

print("Number of characters:", char_count)
print("Number of words:", word_count)
print("Number of lines:", line_count)

Enter filename: test_text
Number of characters: 73
Number of words: 16
Number of lines: 3

In [ ]:
#Counting frequency of characters in a given file
filename = input("Enter filename: ")
char_frequency = {}

with open(filename, 'r') as file:
    for line in file:
        for char in line:
            char_frequency[char] = char_frequency.get(char, 0) + 1

print("Character frequency:", char_frequency)

Enter filename: test_text
Character frequency: {'T': 3, 'h': 6, 'i': 9, 's': 9, ' ': 13, 'a': 2, 'm': 1, 'p': 1, 'l': 3, 'e': 8, 't': 7, 'x': 1, '\n': 2, 'c': 1, 'o': 1, 'n': 3, 'd': 2, 'r': 1}

# Exercise 9

In [1]:
#Simple Calculator program using functions
def add(num1, num2):
    return num1 + num2

def subtract(num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1 / num2

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print("\nSelect operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = int(input("Enter choice: "))

if choice == 1:
    print("\nResult:", add(num1, num2))
elif choice == 2:
    print("\nResult:", subtract(num1, num2))
elif choice == 3:
    print("\nResult:", multiply(num1, num2))
elif choice == 4:
    print("\nResult:", divide(num1, num2))
else:
    print("\nInvalid input")

Enter first number: 13
Enter second number: 15

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice: 3

Result: 195

In [2]:
#Finding the factorial of a number using recursion
def factorial(num):
    if num == 1:
        return 1
    else:
        return num * factorial(num - 1)

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 11
Factorial: 39916800

In [3]:
#Finding all duplicates in a list using a function
def dups(list):
    duplicates = []
    for i in range(len(list)):
        for j in range(i + 1, len(list)):
            if list[i] == list[j]:
                duplicates.append(list[i])
                break
    return duplicates

list = [int(x) for x in input("Enter elements separated by space: ").split()]
print("Duplicates:", dups(list))

Enter elements separated by space: 1 3 2 4 1 1 2 8 9 2
Duplicates: [1, 2, 1, 2]

In [4]:
# Finding all the unique elements in a list using a function
def unique(list):
    unique_list = []
    for i in list:
        if i not in unique_list:
            unique_list.append(i)
    return unique_list

list = [int(x) for x in input("Enter elements separated by space: ").split()]
print("Unique elements:", unique(list))

Enter elements separated by space: 1 2 3 4 4 5 6 1 2 9 8 2 4
Unique elements: [1, 2, 3, 4, 5, 6, 9, 8]

# Exercise 10

In [5]:
def cumulative_product(numbers):
  cumulative_product = 1
  for num in numbers:
    cumulative_product *= num
  return cumulative_product

print(cumulative_product([1, 2, 3, 4, 5]))

120

In [6]:
#Reverse List
def reverse(numbers):
  return numbers[::-1]

print(reverse([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [7]:
#gcd and lcm
import math

def gcd(a, b):
  return math.gcd(a, b)

def lcm(a, b):
  return a * b // gcd(a, b)

print(gcd(12, 16))
print(lcm(12, 16))

4
48

# Exercise 11

In [9]:
#Define and Print Matrix
def print_matrix(matrix):
  for row in matrix:
    print(*row)

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print_matrix(matrix)

1 2 3
4 5 6
7 8 9

In [10]:
#add 2 matrices
def add_matrices(matrix1, matrix2):
  result = []
  for i in range(len(matrix1)):
    row = []
    for j in range(len(matrix1[0])):
      row.append(matrix1[i][j] + matrix2[i][j])
    result.append(row)
  return result

matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
print_matrix(add_matrices(matrix1, matrix2))

10 10 10
10 10 10
10 10 10

In [ ]:
#Multiplication of Two Square Matrices
def multiply_matrices(matrix1, matrix2):
  result = []
  for i in range(len(matrix1)):
    row = []
    for j in range(len(matrix2[0])):
      row.append(sum(matrix1[i][k] * matrix2[k][j] for k in range(len(matrix2))))
    result.append(row)
  return result

matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
print_matrix(multiply_matrices(matrix1, matrix2))

#Exercise 13

In [11]:
#AND, OR, NOT, EX-OR Gates
def and_gate(a, b):
  return a and b

def or_gate(a, b):
  return a or b

def not_gate(a):
  return not a

def xor_gate(a, b):
  return (a and not b) or (not a and b)

print(and_gate(True, True))
print(or_gate(True, False))
print(not_gate(True))
print(xor_gate(True, False))

True
True
False
True

In [12]:
#Half Adder, Full Adder, and Parallel Adder
def half_adder(a, b):
  sum = xor_gate(a, b)
  carry = and_gate(a, b)
  return sum, carry

def full_adder(a, b, c_in):
  sum1, carry1 = half_adder(a, b)
  sum2, carry2 = half_adder(sum1, c_in)
  return sum2, carry1 or carry2

def parallel_adder(a, b, c_in):
  carries = []
  for i in range(len(a)):
    sum, carry = full_adder(a[i], b[i], c_in)
    carries.append(carry)
    c_in = carry
  return carries

a = [1, 0, 1, 1]
b = [0, 1, 0, 0]
c_in = 0
print(parallel_adder(a, b, c_in))

[0, 0, 0, 0]